h2 {
    color: orange;
    font-family: 'Trebuchet MS';
    text-align: center;
}

.kotak {
    padding: 30px;
    width: 100px;
    height: 100px;
    margin: 10px;
    background: orange;
}

#kotak {
    width: 400px;
    height: 100px;
    background: blue;
    padding: 30px;
} 
body {
    background: url("img/tree1.png"), url("img/field1.jpg");
    background-repeat: no-repeat, repeat;
    color: white;
}